<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="Java_seleniumtest">
    <classes>
      <class name="com.test.Day1.First">
      </class> <!-- com.test.Day4.POTest -->
    </classes>
  </test> <!-- Java_seleniumtest -->
</suite> <!-- Default Suite -->
